<div class="content-intro" data-ng-show="!forgotPassword.processFinished">
  <p>Please provide the following information in order to continue the process.</p>
</div>

<form novalidate data-ng-show="!forgotPassword.processFinished && !forgotPassword.resetPassword" class="" ng-submit="forgotPassword.verifyUser()" name="forgotPassword.forgotPassForm" data-ng-bind-attrs="{id: forgotPassword.verifyPasswordFormId}">
  <fieldset class="forms">
    <ul class="profile-form form">
      <li class="form-row">
        <label class="column col1" for="firstName">Username</label>
        <input class="column col2 rs-input input-password ui-inputfield ui-inputtext" 
        	id="security-firstName" 
        	name="username" 
        	type="text" 
        	autocomplete="off" 
        	required ng-model="forgotPassword.username" 
        	maxlength="60" />
      </li>
      <li class="form-row">
        <label class="column col1"></label>
        <input type="submit"
        	class="column col2 button button-submit data-ng-class:{ 'disabled': forgotPassword.forgotPassForm.$invalid || forgotPassword.forgotPassForm.$pristine}" 
        	data-ng-disabled="forgotPassword.formSubmitted || forgotPassword.forgotPassForm.$invalid || forgotPassword.forgotPassForm.$pristine"
        	ng-class="{'disabled': forgotPassword.formSubmitted === true}" 
        	value="{{forgotPassword.formSubmitted ? 'Please wait...' : 'Submit'}}" />
      </li>
    </ul>
  </fieldset>
</form>

<form novalidate data-ng-show="!forgotPassword.processFinished && forgotPassword.resetPassword" class="" ng-submit="forgotPassword.formSubmitted || forgotPassword.submit()" name="forgotPassword.verifyUserForm" data-ng-bind-attrs="{id: forgotPassword.resetPasswordFormId}">
  <fieldset class="forms">
    <ul class="profile-form form">
      <li class="form-row" ng-class="{ 'show-invalid': forgotPassword.passwordData.newPass.showInvalid(), 'show-required': forgotPassword.passwordData.newPass.showRequired() };">
        <label for="newPass" class="column col1">New password</label>
        <input class="rs-input input-password new-password ui-inputfield ui-inputtext column col2"
        type="password"
        id="newPass"
        name="newPass"
        autocomplete="off"
        ng-model="forgotPassword.passwordData.newPass.value"
        ng-minlength="6"
        ng-maxlength="15"
        maxlength="15"
        placeholder="6-15 characters"
        ng-focus="forgotPassword.passwordData.newPass.hasFocus = true;"
        ng-blur="forgotPassword.passwordData.newPass.hasFocus = false;"
        ng-class="{ 'active': forgotPassword.passwordData.newPass.hasFocus, 'invalid': forgotPassword.verifyUserForm.newPass.$invalid && forgotPassword.verifyUserForm.newPass.$dirty };"
        required
         />

        <div class="errors column col3">
          <span class="presubmit-error required">This field is required.</span>
          <span class="presubmit-error invalid">Password must be 6-15 alphanumeric characters.</span>
        </div>
      </li>

      <li class="form-row" ng-class="{ 'show-required': forgotPassword.passwordData.verifyPass.showRequired(), 'show-invalid': forgotPassword.passwordData.verifyPass.showInvalid(), 'show-mismatch': forgotPassword.passwordData.verifyPass.showMismatch() };">
        <label for="verifyPass" class="column col1">Retype new password</label>
        <input class="rs-input input-password confirm-password ui-inputfield ui-inputtext column col2"
        type="password"
        id="verifyPass"
        name="verifyPass"
        autocomplete="off"
        ng-model="forgotPassword.passwordData.verifyPass.value"
        ng-minlength="6"
        ng-maxlength="15"
        maxlength="15"
        placeholder="6-15 characters"
        ui-validate=" '$value===forgotPassword.passwordData.newPass.value && forgotPassword.verifyUserForm.newPass.$valid' "
        ui-validate-watch=" ['forgotPassword.passwordData.verifyPass.value', 'forgotPassword.passwordData.newPass.value'] "
        ng-focus="forgotPassword.passwordData.verifyPass.hasFocus = true;"
        ng-blur="forgotPassword.passwordData.verifyPass.hasFocus = false;"
        ng-class="{ 'active': forgotPassword.passwordData.verifyPass.hasFocus, 'invalid': forgotPassword.verifyUserForm.verifyPass.$invalid && forgotPassword.verifyUserForm.verifyPass.$dirty };"
        required
         />

        <div class="errors column col3">
          <span class="presubmit-error required">This field is required.</span>

          <span class="presubmit-error invalid">Password must be 6-15 alphanumeric characters.</span>

          <span class="presubmit-error mismatch">Both instances of the new password must match.</span>
        </div>
      </li>

      <li class="form-row">
        <label class="column col1"></label>
        <input class="button button-submit column col2"
        type="submit"
        data-ng-disabled="forgotPassword.formSubmitted || forgotPassword.verifyUserForm.$invalid"
        ng-class="{ 'disabled': forgotPassword.formSubmitted === true || forgotPassword.verifyUserForm.$invalid };"
        value="{{forgotPassword.formSubmitted ? 'Please wait...' : 'Submit'}}"
        ng-submit="forgotPassword.submit()"
        />
      </li>
    </ul>
  </fieldset>
</form>
