<div class="content-intro" data-ng-show="!rsApp.passwordIsSet">
  <p>To access your provider risk reports account, please change your password. Once you're all set, you can log in to view reports anytime.</p>
</div>

<div data-ng-show="rsApp.passwordIsSet">Please enter a new password. Be sure to save it for later:</div>

<form novalidate data-ng-submit="password.formSubmitted || password.submit()" name="passwordForm" data-ng-bind-attrs="{id: password.passwordFormId}">
  <h2 class="heading" data-ng-bind="pageTitle" data-ng-hide="isLoggedIn"></h2>
  <fieldset class="forms">
    <ul class="form profile-form three-col">
      <li class="form-row" data-ng-class="{ 'hide-errors': password.passwordData.oldPass.hideErrors(), 'show-required': password.passwordData.oldPass.showRequired };">
        <label for="oldPass" class="column col1">Current password</label>
        <input class="rs-input input-password current-password ui-inputfield ui-inputtext coloumn col2"
        type="password"
        id="oldPass"
        name="oldPass"
        autocomplete="off"
        autofocus
        data-ng-model="password.passwordData.oldPass.value"
        data-ng-focus="password.passwordData.oldPass.hasFocus = true;"
        data-ng-blur="password.passwordData.oldPass.hasFocus = false; password.passwordData.oldPass.checkValidity();"
        data-ng-required="true"
         />
        <div class="errors column col3">
          <span class="presubmit-error required">This field is required.</span>
        </div>
      </li>

      <li class="form-row" data-ng-class="{ 'hide-errors': password.passwordData.newPass.hideErrors(), 'show-invalid': password.passwordData.newPass.showInvalid, 'show-required': password.passwordData.newPass.showRequired };">
        <label for="newPass" class="column col1">New password</label>
        <input class="rs-input input-password new-password ui-inputfield ui-inputtext column col2"
        type="password"
        id="newPass"
        name="newPass"
        autocomplete="off"
        data-ng-model="password.passwordData.newPass.value"
        data-ng-minlength="6"
        data-ng-maxlength="15"
        data-alpha-num
        maxlength="15"
        placeholder="6-15 alphanumeric"
        data-ng-focus="password.passwordData.newPass.hasFocus = true;"
        data-ng-blur="password.passwordData.newPass.hasFocus = false; password.passwordData.newPass.checkValidity($event);"
        data-ng-required="true"
         />

        <div class="errors column col3">
          <span class="presubmit-error required">This field is required and must be valid.</span>
          <span class="presubmit-error invalid">Password must be 6-15 alphanumeric characters.</span>
        </div>
      </li>

      <li class="form-row" data-ng-class="{ 'hide-errors': password.passwordData.verifyPass.hideErrors(), 'show-required': password.passwordData.verifyPass.showRequired, 'show-invalid': password.passwordData.verifyPass.showInvalid, 'show-mismatch': password.passwordData.verifyPass.showMismatch };">
        <label for="verifyPass" class="column col1">Retype new password</label>
        <input class="rs-input input-password confirm-password ui-inputfield ui-inputtext column col2"
        type="password"
        id="verifyPass"
        name="verifyPass"
        autocomplete="off"
        data-ng-model="password.passwordData.verifyPass.value"
        data-ng-minlength="6"
        data-ng-maxlength="15"
        data-alpha-num
        maxlength="15"
        placeholder="6-15 alphanumeric"
        ui-validate=" '$value===password.passwordData.newPass.value && passwordForm.newPass.$valid' "
        ui-validate-watch=" ['password.passwordData.verifyPass.value', 'password.passwordData.newPass.value'] "
        data-ng-focus="password.passwordData.verifyPass.hasFocus = true;"
        data-ng-blur="password.passwordData.verifyPass.hasFocus = false; password.passwordData.verifyPass.checkValidity($event)"
        data-ng-required="true"
         />

        <div class="errors column col3">
          <span class="presubmit-error required">This field is required and must be valid.</span>

          <span class="presubmit-error invalid">Password must be 6-15 alphanumeric characters.</span>

          <span class="presubmit-error mismatch">Both instances of the new password must match.</span>
        </div>
      </li>

      <li class="form-row">
        <label class="column col1"></label>
        <input class="button button-submit column col2"
        type="submit"
        data-ng-disabled="password.formSubmitted || passwordForm.$invalid"
        data-ng-class="{ 'disabled': password.formSubmitted === true || passwordForm.$invalid };"
        value="{{password.formSubmitted ? 'Please wait...' : 'Submit'}}"
        data-ng-submit="password.submit()"
        />
      </li>
    </ul>
  </fieldset>
</form>
